.panel1{
    border:0px solid black;
    padding:20px;
    background-color: rgb(255, 255, 255);
    }
    .panel2{
    border:0px solid black;
    padding:20px;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: rgb(22, 130, 140);
    }
    .container{
        display: flex;        
    }

    .container2{
        justify-content: space-evenly;  
        text-align: center;     
    }


/*-----------------------------*/
.value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
  }
  .value-heading {
    margin-bottom: .3rem;
  }
  .value-description {
    opacity: .8;
    font-weight: 300;
  }

/*-----------------------------*/

    .panel3{
    text-align:center;
    font-size: 20px;
    padding:20px;
    background-color: rgb(255, 255, 255);
    }
    .panel4{       
    padding:20px;
    font-size: 20px;
    color: white;
    background-color: rgb(22, 130, 140);
    }
    H1 { text-align: left}
    img.derecha {
    float: right;
    }
    img.izquierda {
    float: left;
    }

    .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    background-color: #1E90FF;
    border-radius: 30px;
    border: 2px solid #1E90FF;
    }

    .boton_personalizado2{
    text-decoration: none;
    padding: 10px;        
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    background-color: #1E90FF;
    border-radius: 30px;
    border: 2px solid #1E90FF;
    }