body {
	background-color: #666;
}

.hidden {
	display: none;
}

a.link {
	cursor: pointer;
}

a {
	text-decoration: none;
}

h1 {
	color: #fff;
	text-align: justify;
}


p:first-of-type {
	color: red;
}

div.form-contact-info2 select{
	width: 100%;
}

div.save input{
	margin: 10px;
	width: 150px;
	height: 100px;
}

/*a:hover {
	text-decoration: underline;
	cursor: -webkit-zoom-in;
}*/

p::first-line {
	color: white;
}

p::first-letter {

	font-size: 20px;
}

p::after {
	content: ' Fin del Parraro';
}

p::before {
	content: 'Inicio del Parrafo ';
}

p::selection {
	background-color: white;
	color: yellow;
}

.required {
	color: red;
}

span.required {
	padding: 5px;
}

h1 {
	color: #34EE7F;
}

div.error_msg {
	display: none;
	color: white;
	background-color: red;
	border: 1px solid black;
	padding: 2px;
}

div.element{
	margin: 10px;
	padding: 5px;
	border: 3px solid black
}


/*
input.required {
	border: 2px solid red;
}*/

/*div.form-general-info span.required {
	color: blue;
}
*/