div.menu{
    margin-top: 10px;
    background-color: #ffa500;
    border-radius: 10px;
    padding: 5px;
    height: 70%;
    width: 20%;
}

div.columnas {
    display: flex;
    flex-direction: row;
    width: 77%;
}

div.form-titulo{
    background-color: yellow;
    border-radius: 10px;
}

div.form-pie{
    background-color: #ffc0cb;
    border-radius: 10px;
}

div.menu h4{
    margin: 5px;
}

h2{
    margin-bottom: 5px;
}

h1{
    margin-top: 5px;
}

div.columnas h4{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}

div.form-info{
    display: flex;
    justify-content: space-between;
}

div.columna{
    display: flex;
    flex-direction: column;
    
    color: white;
    background-color: #0000ff;
    margin-top: 10px;    
    border-radius: 10px;
    width: 100%;
    height: 70%;
}


div.columnas2 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
}

div.columna2{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #0000ff;
    margin-top: 10px;    
    border-radius: 10px;
    width: 100%;    
}

p{
    margin: 5px;
    margin-left: 10px
}

@media screen and (min-width: 750px){ 
    div.form-titulo{
        text-align: center;
    }
    select{
        display: none;
    }
}

@media screen and (max-width: 750px){ 
    div.form-titulo{
        text-align: left;
    }
    div.menu2{
        display: none;
    }
    div.menu{
        width: 98%;
    }
    div.form-info{
        display: flex;
        flex-direction: column;
    }
    div.columnas {
        display: flex;
        flex-direction: column;
        width: 99%;
    }
    div.columnas2 {
        margin-left: 0px;
    }
}
